@import url(./fonts.css);


:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.btn {
    width: 100px;
    height: 43px;
    background-color: white;
    border: 1px solid #000000;
    filter: drop-shadow(0px 0px 0px #241C15);
    border-radius: 0px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 0px 0px #241C15);
    border-radius: 0px;
}
.btn__2{
    width: 100px;
    height: 43px;
    background: #007C89;
    border: none;
}

/* header start */
.header__content{
    display: flex;
}
/* header end */



/* membership start */


/* membership end */

/* guide start */


/* guide end */


/* info start */


/* info end */


/* slider start */


/* slider end */


/* already start */


/* already end */


/* community start */


/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */